## Yield Gap Strategy
#### Steps: CMA, Yield Gap, and Mix

In [1]:
import pandas as pd
import numpy as np

In [12]:
path_w = 'C:/Users/Park/Dropbox/Investment/YGS/'

#### CMA
The values of the cash management account are calculated by the official rates in Korea.   
I will not create the CMA values but when the money flows to CMA, it calculates.

In [50]:
rates = pd.read_table(path_w + 'Official_Rates.txt', dtype='str')
pd.to_numeric(rates.Rates, downcast='float')
rates['Ch_Dates'] = rates.Year + '-'+ rates.Date
rates.head()

   Year   Date Rates    Ch_Dates
0  2018  11-30  1.75  2018-11-30
1  2017  11-30   1.5  2017-11-30
2  2016  06-09  1.25  2016-06-09
3  2015  06-11   1.5  2015-06-11
4  2015  03-12  1.75  2015-03-12

#### Yield Gap Values
I need to decide to choose proper benchmark index